[DEFAULT]
#sqs_queue_url:     MUST_BE_DEFINED_INDIVIDUALLY
sqs_queue_wait_time_seconds: 299
smtp_hostname:     dovecot-mailcow
smtp_port:         24
smtp_debug:        False
smtp_recipient:    CHANGE-ME@YOUR-MAILCOW-MAILBOX-ADDRESS.EXAMPLE

#[example_insecure_test1_gmx.de]
#sqs_queue_url:     sqs-queue
#sqs_queue_wait_time_seconds: 299